extends ../layout/base

block content
    form(method="POST")
        input(type="text" placeholder="Title" name="title" value=`${video.title}` required)
        input(type="text" placeholder="Description" name="description" value=`${video.description}` required)
        input(type="text" placeholder="Hashtags, seperated by comma." name="hashtags" value=`${video.hashtags}`)
        input(type="submit" value="Edit")