extends ../layout/base
include ../mixins/video.pug

block content
    form.search__form
        input(type="text" placeholder="Search" name="query") 
        button.i.fas.fa-search

    div.video__grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found
