.video-mixin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 3%;
    .video-mixin__thumb {
        height: 140px;
        width: 100%;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
    }
    .video-mixin__data {
        padding: 5px 15px;
        .video-mixin__title {
            display: block;
            font-size: 16px;
            margin-top: 5px;
        }
        .video-mixin__meta {
            font-size: 14px;
            margin-top: 5px;
        }
    }
}

.video__info {
    margin-top: 20px;
    .video__info-title {
        font-size: 22px;
        padding: 20px 0px;
        margin-bottom: 10px;
    }

    a {
        display: block;
        width: 30%;
    }

    .video__info-meta {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .video__info__user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        img {
            margin-right: 5px;
        }
        margin-bottom: 10px;
    }
}

.video__info-description {
    margin: 30px 0px;
}

.video__comments {
    li {
        display: flex;
        border-bottom: 1px solid rgba(149, 157, 165, 0.3);
        padding: 20px 0px;
        justify-content: space-between;
        align-items: center;
    }
    button {
        all: unset;
        cursor: pointer;
        color: red;
    }
}
