extends layout/base

block content
    h3=errorMessage
    form(method="POST") 
        input(type="email" placeholder="Email" name="email" value=loggedInUser.email)
        input(type="text" placeholder="Username" name="username" value=loggedInUser.username)
        input(type="submit" value="Update Profile")