extends layout/base
include mixins/video

block scripts 
    script(src="/static/js/main.js" defer)

block content
    div.video__grid
        each video in videos
            +video(video)
            
        else
            span.empty__message No videos found