extends layout/base

block content
    if errorMessage
        h3=errorMessage
    form(method="POST")
        input(type="email" placeholder="Email" name="email" required) 
        input(type="password" placeholder="Password" name="password" required)
        input(type="submit" value="Join")
        br
        a(href="/users/github/start") Continue with github
    hr
    div
        span You don't have an account ? 
        a(href="/join") Create Account now &rarr; 