extends layout/base
include mixins/video.pug

block content
    form
        input(type="text" placeholder="Search" name="query") 
        input(type="submit" value="Search")

    
    each video in videos
        +video(video)