extends layout/base

block content
    h3 Upload Video
    form(method="POST")
        input(type="text" placeholder="Title" name="title" id="uploadVideo")
        input(type="text" placeholder="Description" name="description" id="uploadVideo")
        input(type="submit" value="Upload Video")