nav.sidebar
    a(href="/search") Search
    if loggedIn
        a(href="/videos/upload") Upload
        a(href=`/users/${loggedInUser._id}`) My Profile
        a(href="/logout") Logout 
    else
        a(href="/login") Login
        a(href="/join") Join
    