
span.social__title Continue With
div.social-login
    a(href="users/github/start").social__btn.social__btn--github
        i.fab.fa-github
        |      Github
    a(href="users/github/start").social__btn.social__btn--kakao
        i.far.fa-comment
        |      Kakao